body {
  margin: 0;
  min-width: 1015px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #404040;
  background-color: white;
}

.h_button {
  padding: 15px 21px;
  border-width: 2px;
  border-style: solid;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  transition: all 0.1s;
}

.h_clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.h_list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.h_title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: black;
}

.h_subtitle {
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
}

.h_narrow-container {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.h_wide-container {
  margin-left: auto;
  margin-right: auto;
  width: 1015px;
}
