.main-nav {
  width: 600px;
}

.main-nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.main-nav__:hover {
  color: #ffcb78;
}

.main-nav__:active {
  color: rgba(255, 203, 120, 0.3);
}
