.new-goods {
  padding-top: 89px;
  padding-bottom: 93px;
  line-height: 1;
}

.new-goods__title {
  margin-top: 0;
  margin-bottom: 88px;
}

.new-goods__item {
  float: left;
  width: 339px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  padding-top: 8px;
  padding-left: 34px;
  padding-right: 25px;
}

.new-goods__item:last-child {
  border-left-style: none;
}

.new-goods__caption {
  margin-top: 0;
  margin-bottom: 35px;
}

.new-goods__content {
  position: relative;
  padding-top: 5px;
}

.new-goods__composition {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
}

.new-goods__percentage-content {
  margin-bottom: 10px;
  width: 100%;
  border-collapse: collapse;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.new-goods__cell {
  border: 1px solid #e5e5e5;
  padding: 12px 11px;
  letter-spacing: 0.1px;
}

.new-goods__compound {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.12px;
}

.new-goods__image {
  margin-left: 10px;
  margin-bottom: 10px;
  display: block;
}

.new-goods__description {
  margin-top: 0;
  margin-bottom: 60px;
  line-height: 30px;
  letter-spacing: 0.12px;
}

.new-goods__button {
  float: left;
  border-color: #844802;
}

.new-goods__button--about {
  margin-right: 7px;
  color: #844802;
}

.new-goods__button--about:hover {
  border-color: #6a3900;
  color: #6a3900;
}

.new-goods__button--about:active {
  opacity: 0.3;
}

.new-goods__button--buy {
  margin-right: 25px;
  color: white;
  background-color: #844802;
}

.new-goods__button--buy:hover {
  background-color: #6a3900;
}

.new-goods__button--buy:active {
  color: rgba(255, 255, 255, 0.3);
}

.new-goods__price {
  float: left;
  margin-top: 17px;
}
