.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
  background-color: black;
}

.page-footer__top {
  margin-bottom: 30px;
}

.page-footer__logo {
  float: left;
  margin-left: 38px;
}

.page-footer__navigation {
  float: right;
  margin-top: 7px;
  margin-right: 107px;
}

.page-footer__prohibition {
  float: left;
  margin-top: 0;
  margin-bottom: 0;
}

.page-footer__social {
  float: left;
}

.page-footer__creator {
  float: right;
}
