.reviews {
  padding-top: 80px;
  padding-bottom: 90px;
  line-height: 1;
  background-color: #ede5d8;
}

.reviews__title {
  margin-top: 0;
  margin-bottom: 74px;
}

.reviews__excerpt {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.reviews__excerpt::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -105px;
  width: 41px;
  height: 31px;
  background-image: url("../img/quotes.png");
}

.reviews__text {
  float: left;
  margin-bottom: 35px;
  width: 700px;
  letter-spacing: 0.1px;
}

.reviews__source {
  float: right;
  margin-top: 10px;
}

.reviews__link {
  clear: left;
  float: left;
  padding-right: 21px;
  color: rgba(0, 0, 0, 0.3);
}

.reviews__link:hover {
  color: white;
  border-color: transparent;
  background-color: #a5a097;
}

.reviews__link:active {
  background-color: #8f8a81;
}
